
    <div id="help-tip" *ngIf="rows.length == 0" class="row m-1">
        Use the search bar to find a user!
    </div>
    

<div id="contents" class="contents" *ngIf="rows.length > 0">
        <ngx-datatable
        class="material"
        [rows]="rows"
        [loadingIndicator]="loadingIndicator"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="40"
        [footerHeight]="40"
        [limit]="20"
        [selectionType]="'single'"
        [rowHeight]="'auto'"
        [reorderable]="reorderable"
        (select)='onSelect($event)'>
      </ngx-datatable>

</div>

<ng-template #favTemplate ngx-datatable-cell-template>
        <div class='icon-center'><fa-icon icon="star" style='color: gold;'></fa-icon></div>
    </ng-template>