<div id="contents" class="contents" >
  
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">User</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fav of favorite$ | async">
            <td>{{fav.username}}</td>
            <td><button (click)="removeFavorite(fav)" class="btn btn-danger float-rigth"><fa-icon icon="trash" ></fa-icon></button></td>
          </tr>
        </tbody>
    </table>

</div>