<form name="searchForm" class="form-inline">
    <div class="form-group searchbar">
      <div class="btn-group fullsearch" role="group">
          <input style="width:50rem" 
                 type="text" 
                 name="searchbar" #searchbar id="searchbar" class="form-control" [(ngModel)]="search" placeholder="Github Username">
          <button type="button" class="btn btn-secondary"><fa-icon icon="search"></fa-icon></button>
      </div>
    </div>
    <div class="form-group">
      <fa-icon icon="star" size="lg" style="color:gold"></fa-icon>
    </div>
</form>